# Ignorer le testeur Moumounator_libft
Moumounator_libft/
libftTester/
Libftest/
libft-war-machine/

# Ignorer les fichiers compilés
*.o
*.a
*.out

# Ignorer les fichiers de logs et temporaires
*.log
*.tmp

# Ignorer les fichiers de macOS/Linux
.DS_Store
*.swp